<ng-container>
  <ng-container *ngIf="field.errors?.required">
    {{name||'Field'}} is required.
  </ng-container>
  <ng-container *ngIf="field.errors?.min">
    {{name||'Field'}} must not be less than {{field.errors.min.min}}.
  </ng-container>
  <ng-container *ngIf="field.errors?.max">
    {{name||'Field'}} must not be bigger than {{field.errors.max.max}}.
  </ng-container>
  <ng-container *ngIf="field.errors?.maxlength">
    {{name||'Field'}} must not have more than {{field.errors.maxlength.requiredLength}} characters.
  </ng-container>
  <ng-container *ngIf="field.errors?.minlength">
    {{name||'Field'}} must have at least {{field.errors.minlength.requiredLength}} characters.
  </ng-container>
  <ng-container *ngIf="field.errors?.pattern">
    {{name||'Field'}} does not match the required pattern: {{field.errors.pattern.requiredPattern}}.
  </ng-container>
</ng-container>
