<form (ngSubmit)="submit()" #accountForm="ngForm" novalidate>

  <h5>Account</h5>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text"
           class="form-control"
           id="username"
           name="username"
           [(ngModel)]="account.username"
           required unique-username
           [class.is-invalid]="isInvalid(usernameField)"
           #usernameField="ngModel">
    <div class="invalid-feedback">
      <validation-message [field]="usernameField" name="Username"></validation-message>
      <ng-container *ngIf="usernameField.errors?.usernameAlreadyExists">
        Username '{{usernameField.value}}' already exists, please select a different one.
      </ng-container>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 col-lg-6">
      <label for="password">Password</label>
      <input type="password"
             class="form-control"
             id="password"
             name="password"
             [(ngModel)]="account.password"
             required
             [class.is-invalid]="isInvalid(passwordField)"
             #passwordField="ngModel">
      <div class="invalid-feedback">
        <validation-message [field]="passwordField" name="Password"></validation-message>
      </div>
    </div>
    <div class="form-group col-12 col-lg-6">
      <label for="passwordConfirmation">Password confirmation</label>
      <input type="password"
             class="form-control"
             id="passwordConfirmation"
             name="passwordConfirmation"
             [(ngModel)]="account.passwordConfirmation"
             required
             [class.is-invalid]="isInvalid(passwordConfirmationField)"
             #passwordConfirmationField="ngModel">
      <div class="invalid-feedback">
        <validation-message [field]="passwordConfirmationField" name="Password confirmation"></validation-message>
      </div>
    </div>
  </div>

  <h5>Personal Information</h5>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           id="name"
           name="name"
           [(ngModel)]="account.name"
           required
           [class.is-invalid]="isInvalid(nameField)"
           #nameField="ngModel">
    <div class="invalid-feedback">
      <validation-message [field]="nameField" name="Name"></validation-message>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-6">
      <label for="gender">Gender</label>
      <select class="form-control"
              id="gender"
              name="gender"
              [(ngModel)]="account.gender"
              required
              [class.is-invalid]="isInvalid(genderField)"
              #genderField="ngModel">
        <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
      </select>
      <div class="invalid-feedback">
        <validation-message [field]="genderField" name="Gender"></validation-message>
      </div>
    </div>
    <div class="form-group col-6">
      <label for="age">Age</label>
      <input type="number"
             class="form-control"
             id="age"
             name="age"
             [(ngModel)]="account.age"
             required [min]="0" [max]="150"
             [class.is-invalid]="isInvalid(ageField)"
             #ageField="ngModel">
      <div class="invalid-feedback">
        <validation-message [field]="ageField" name="Age"></validation-message>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 col-lg-6">
      <label for="email">E-Mail</label>
      <div class="input-group">
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               email-address
               [(ngModel)]="account.email"
               [class.is-invalid]="isInvalid(emailField)"
               #emailField="ngModel">
        <div class="invalid-feedback order-1">
          Please provide a valid e-mail address.
        </div>
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group col-12 col-lg-6">
      <label for="phone">Phone Number</label>
      <div class="input-group">
        <input type="tel"
               class="form-control"
               id="phone"
               name="phone"
               [pattern]="'\\+41\\d{3,10}'"
               [class.is-invalid]="isInvalid(phoneField)"
               [(ngModel)]="account.phone"
               #phoneField="ngModel">
        <div class="invalid-feedback order-1">
          <validation-message [field]="phoneField" name="Phone number"></validation-message>
        </div>
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fas fa-phone"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <h5>Address</h5>
  <div class="form-row">
    <div class="form-group col-12 col-lg-5">
      <label for="street">Street</label>
      <input type="text"
             class="form-control"
             id="street"
             name="street"
             [(ngModel)]="account.address.street">
    </div>
    <div class="form-group col-4 col-lg-2">
      <label for="postalCode">Postal Code</label>
      <input type="text"
             class="form-control"
             id="postalCode"
             name="postalCode"
             [minLength]="4" [maxLength]="5"
             [(ngModel)]="account.address.postalcCode"
             [class.is-invalid]="isInvalid(postalCodeField)"
             #postalCodeField="ngModel">
      <div class="invalid-feedback">
        <validation-message [field]="postalCodeField" name="Postal code"></validation-message>
      </div>
    </div>
    <div class="form-group col-8 col-lg-5">
      <label for="city">City</label>
      <input type="text"
             class="form-control"
             id="city"
             name="city"
             required
             [(ngModel)]="account.address.city"
             [class.is-invalid]="isInvalid(cityField)"
             #cityField="ngModel">
      <div class="invalid-feedback">
        <validation-message [field]="cityField" name="City"></validation-message>
      </div>
    </div>
  </div>

  <div class="form-group form-check">
    <input type="checkbox"
           class="form-check-input"
           id="acceptTermsAndConditions"
           name="acceptTermsAndConditions"
           [(ngModel)]="account.acceptTermsAndConditions"
           required
           [class.is-invalid]="isInvalid(acceptTermsAndConditionsField)"
           #acceptTermsAndConditionsField="ngModel">
    <label class="form-check-label" for="acceptTermsAndConditions">Accept terms and conditions</label>
    <div class="invalid-feedback">
      You have to accept the terms and conditions.
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  <div *ngIf="submitted;else other_content" class="alert alert-success mt-4">
    <pre>Submitted account: {{ account | json }}</pre>
  </div>

</form>

<ng-template #other_content>
  <div class="alert alert-secondary mt-4" role="alert">
    <pre>Form status: {{ form.status | json }}</pre>
    <pre>Form value: {{ form.value | json }}</pre>
  </div>
</ng-template>
