<form [formGroup]="form" (ngSubmit)="submit()">

  <h5>{{'FORM.ACCOUNT.ACCOUNT' | translate}}</h5>
  <div class="form-group">
    <label for="username">{{'FORM.ACCOUNT.USERNAME' | translate}}</label>
    <input type="text"
           class="form-control"
           id="username"
           formControlName="username"
           [class.is-invalid]="isInvalid(usernameField)">
    <small class="form-text text-muted">
      {{'FORM.ACCOUNT.USERNAME_INFO' | translate:{'existingUsernames': existingUsernames} }}
    </small>
    <div class="invalid-feedback">
      <validation-message [field]="usernameField" name="{{'FORM.ACCOUNT.USERNAME' | translate}}"></validation-message>
      <ng-container *ngIf="usernameField.errors?.usernameAlreadyExists">
        {{'FORM.ACCOUNT.VALIDATION.USERNAME_ALREADY_EXISTS' | translate:{'username': usernameField.value} }}
      </ng-container>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 col-lg-6">
      <label for="password">{{'FORM.ACCOUNT.PASSWORD' | translate}}</label>
      <input type="password"
             class="form-control"
             id="password"
             formControlName="password"
             (keyup)="onPasswordChanged()"
             [class.is-invalid]="isInvalid(passwordField)">
      <div class="invalid-feedback">
        <validation-message [field]="passwordField" name="{{'FORM.ACCOUNT.PASSWORD' | translate}}"></validation-message>
      </div>
    </div>
    <div class="form-group col-12 col-lg-6">
      <label for="passwordConfirmation">{{'FORM.ACCOUNT.PASSWORD_CONFIRMATION' | translate}}</label>
      <input type="password"
             class="form-control"
             id="passwordConfirmation"
             formControlName="passwordConfirmation"
             [class.is-invalid]="isInvalid(passwordConfirmationField)">
      <div class="invalid-feedback">
        {{'FORM.ACCOUNT.VALIDATION.PASSWORD_CONFIRMATION' | translate}}
      </div>
    </div>
  </div>

  <h5>{{'FORM.ACCOUNT.PERSONAL_INFORMATION' | translate}}</h5>
  <div class="form-row">
    <div class="form-group col-12 col-lg-6">
      <label for="name">{{'FORM.ACCOUNT.NAME' | translate}}</label>
      <input type="text"
             class="form-control"
             id="name"
             formControlName="name"
             [class.is-invalid]="isInvalid(nameField)">
      <div class="invalid-feedback">
        <validation-message [field]="nameField" name="{{'FORM.ACCOUNT.NAME' | translate}}"></validation-message>
      </div>
    </div>
    <div class="form-group col-12 col-lg-6">
      <label for="dateOfBirth">{{'FORM.ACCOUNT.DATE_OF_BIRTH' | translate}}</label>
      <div class="input-group">
        <input type="text"
               class="form-control"
               ngbDatepicker #dateOfBirthPicker="ngbDatepicker"
               id="dateOfBirth"
               formControlName="dateOfBirth"
               (click)="dateOfBirthPicker.toggle()"
               readonly>
        <div class="input-group-append">
          <button class="btn" (click)="dateOfBirthPicker.toggle()" type="button">
            <i class="far fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-6">
      <label for="gender">{{'FORM.ACCOUNT.GENDER' | translate}}</label>
      <select class="form-control"
              id="gender"
              formControlName="gender"
              [class.is-invalid]="isInvalid(genderField)">
        <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
      </select>
      <div class="invalid-feedback">
        <validation-message [field]="genderField" name="{{'FORM.ACCOUNT.GENDER' | translate}}"></validation-message>
      </div>
    </div>
    <div class="form-group col-6">
      <label for="age">{{'FORM.ACCOUNT.AGE' | translate}}</label>
      <input type="number"
             class="form-control"
             id="age"
             formControlName="age"
             [class.is-invalid]="isInvalid(ageField)">
      <div class="invalid-feedback">
        <validation-message [field]="ageField" name="{{'FORM.ACCOUNT.AGE' | translate}}"></validation-message>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 col-lg-6">
      <label for="email">{{'FORM.ACCOUNT.EMAIL' | translate}}</label>
      <div class="input-group">
        <input type="email"
               class="form-control"
               id="email"
               formControlName="email"
               [class.is-invalid]="isInvalid(emailField)">
        <div class="invalid-feedback order-1">
          <validation-message [field]="emailField"></validation-message>
        </div>
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group col-12 col-lg-6">
      <label for="phone">{{'FORM.ACCOUNT.PHONE_NUMBER' | translate}}</label>
      <div class="input-group">
        <input type="tel"
               class="form-control"
               id="phone"
               formControlName="phone"
               [class.is-invalid]="isInvalid(phoneField)">
        <div class="invalid-feedback order-1">
          <validation-message [field]="phoneField" name="{{'FORM.ACCOUNT.PHONE_NUMBER' | translate}}"></validation-message>
        </div>
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fas fa-phone"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <h5>{{'FORM.ACCOUNT.ADDRESS' | translate}}</h5>
  <div class="form-row" formGroupName="address">
    <div class="form-group col-12 col-lg-5">
      <label for="street">{{'FORM.ACCOUNT.STREET' | translate}}</label>
      <input type="text"
             class="form-control"
             id="street"
             formControlName="street">
    </div>
    <div class="form-group col-4 col-lg-2">
      <label for="postalCode">{{'FORM.ACCOUNT.POSTAL_CODE' | translate}}</label>
      <input type="text"
             class="form-control"
             id="postalCode"
             formControlName="postalCode"
             [class.is-invalid]="isInvalid(postalCodeField)">
      <div class="invalid-feedback">
        <validation-message [field]="postalCodeField" name="{{'FORM.ACCOUNT.POSTAL_CODE' | translate}}"></validation-message>
      </div>
    </div>
    <div class="form-group col-8 col-lg-5">
      <label for="city">{{'FORM.ACCOUNT.CITY' | translate}}</label>
      <input type="text"
             class="form-control"
             id="city"
             formControlName="city"
             [class.is-invalid]="isInvalid(cityField)">
      <div class="invalid-feedback">
        <validation-message [field]="cityField" name="{{'FORM.ACCOUNT.CITY' | translate}}"></validation-message>
      </div>
    </div>
  </div>

  <div class="form-group form-check">
    <input type="checkbox"
           class="form-check-input"
           id="acceptTermsAndConditions"
           formControlName="acceptTermsAndConditions"
           [class.is-invalid]="isInvalid(acceptTermsAndConditionsField)">
    <label class="form-check-label" for="acceptTermsAndConditions">
      {{'FORM.ACCOUNT.TERMS_AND_CONDITIONS' | translate}}
    </label>
    <div class="invalid-feedback">
      {{'FORM.ACCOUNT.VALIDATION.TERMS_AND_CONDITIONS' | translate}}
    </div>
  </div>

  <button type="submit" class="btn btn-primary">{{'FORM.ACCOUNT.SUBMIT' | translate}}</button>

  <div *ngIf="account;else other_content" class="alert alert-success mt-4">
    <pre>Submitted account: {{ account | json }}</pre>
  </div>

</form>

<ng-template #other_content>
  <div class="alert alert-secondary mt-4" role="alert">
    <pre>Form status: {{ form.status | json }}</pre>
    <pre>Form value: {{ form.value | json }}</pre>
  </div>
</ng-template>
