<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']">
      <img src="/assets/favicon-96x96.png" class="mr-2"/>
      <span>Angular Playground</span>
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleCollapsed()" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="collapsed">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngFor="let rootItem of items">
          <li *ngIf="rootItem.children" class="nav-item" ngbDropdown placement="bottom-left">
            <a class="nav-link" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
              {{rootItem.title}}
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a *ngFor="let childItem of rootItem.children"
                 class="dropdown-item"
                 (click)="toggleCollapsed()"
                 routerLinkActive="active"
                 [routerLink]="[rootItem.path, childItem.path]">
                {{childItem.title}}
              </a>
            </div>
          </li>
          <li *ngIf="!rootItem.children" class="nav-item">
            <a class="nav-link" [routerLink]="[rootItem.path]">{{rootItem.title}}</a>
          </li>
        </ng-container>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item" ngbDropdown placement="bottom-right">
          <a class="nav-link" id="lang" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            {{currentLanguage | async}}
          </a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a *ngFor="let language of languages"
               class="dropdown-item"
               [class.active]="language === (currentLanguage | async)"
               (click)="changeLanguage(language)">{{language}}</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>
