html {
  overflow-y: scroll;
}

a {
  cursor: pointer;
}

/* Fix styling of active dropdown a-tags without href-attribute */
.dropdown-item.active, .dropdown-item:active {
  color: #ffffff !important;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-append > .btn {
  background-color: #e9ecef;
  border-color: #ced4da !important;
  color: #495057;
}
